/*
 * Lay this page out - make it responsive, use grid, flex, position and media queries where needed.
 *
 * Colors-
 * Green: #14a96d
 * White: #fff
 * Light gray: #f4f5f6
 * Border gray: #cfd7de
 * Dark text: #1b1f23
 * Lighter text: #66727c
 * Blue for links: #06748a
 * Blue for hovered links: #033641
 */

/* Globals */



body {
  font-family: 'Cabin', sans-serif;
  
}


#brand{
  width: 90px;
}

.rover-header-container{
    list-style-type: none;
    margin: 0;
    padding-right:30px ;
    overflow: hidden;
    background-color: white; 
    height: 50px   ;
  
  }
  
li {
    float: left;
  }
  
li a {
    display: block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }

.rover-hero-container{
    background-image: url("../img/hero.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    height: 750px;
  }

  .container-upper{
    float: left;
    padding-left: 20px;
    padding-top: 120px;
    font-family: sans-serif;
    color: rgba(73, 72, 72, 0.87);
    
  }

  .container-upper h3{
    margin-left: 120px;
  }

  .container-upper h1{
    margin-left: 118px ;
  }
  
.rover-facts-container img{
  width: 90px;
 
}

.rover-facts-container{
  color: black;
  margin-left: 90px;
}

.rover-facts-container h3{
  color: black;
  margin-left: 120px;
  margin-top:-60px;
}

.rover-facts-container p{
  color:  #66727c;
  margin-left: 120px;
  margin-top: -10px;
}

.rover-middle-section h2{
  text-align: center;
  color: black;
  padding-top: 50px;
  padding-bottom: 20px;
}

.rover-cta-box{
  position: relative;
  padding-bottom: 500px;

}
.rover-cta-container{
  position: absolute;
  right: 90px;
  top: -450px;
  color: black;
  width: 500px;
  border-style: solid;
  border-color: #cfd7de;
}

.rover-cta-header{
  background-color: #f4f5f6;
  position: relative;
  padding-bottom: 20px;
}

.rover-cta a{
  text-decoration: none;
  color: white;
}

.rover-cta-header img{
  width: 30px;
  margin-top: 20px;
  margin-left: 50px;
} 

.rover-cta-header p{
position: absolute;
left: 90px;
top: 15px;
} 

.rover-facts{
  list-style: none;
  height: 120px;
}

.rover-facts li{
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 17px;
  
}

.rover-facts li::before{
content: '✓';
margin-left: -30px;
padding-right:10px ;
color: #14a96d ;
  
}

.rover-cta{
  margin-bottom: 10px;
  margin-left: 30px;
  background-color: #14a96d ;
  height: 30px;
  width: 450px;
  border-radius: 5%;
  text-align: center;
  color: white;
  padding-top: 7px;
  font-size: 15px;

}

.rover-protections{
  width: 500px;
  text-align: center;
  position: absolute;
  right: 90px;
  bottom: 600px;
  color: #66727c;
  word-spacing: 2px;

}

.rover-protections a{
  color: #06748a;
  text-decoration: none;
  letter-spacing: 1px;
}

.rover-action-shot{
  background-image: url("../img/banner_below.jpg");
  height: 600px;
  margin: 120px 50px;
  background-size: cover;
}

.rover-action-quote-container{
  width: 500px;
  height: 450px;
  background-color: white;
  color: black;
  position: absolute;
  border-style:solid;
  border-color:#cfd7de;
  left: 200px;
  top: 1450px;
}

.rover-action-quote-container p{
word-spacing: 2px;
margin: 30px 20px;
}

.rover-quote{
  font-size: 40px;
  font-weight: bold;
}

.rover-action-quote-container p:last-child{
 color: darkslategray;
 margin-top: 150px;
}

.rover-action-quote-container a{
  text-decoration: none;
  color: #06748a;
 }

.rover-123-container-title{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 70px;
}

.rover-123-item-container{
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 10px 10px 10px 10px;
  text-align: center;
}

.rover-123-item img{
  width: 100px;
}

.rover-123-item p{
  color: gray;
  padding-bottom: 20px;
}
.rover-mobile-hero-container{
  padding: 20px 20px;
}
.rover-mobile-hero-container img{
  display: inline;
  width: 300px;
  padding-right: 40px;
  padding-left: 10px;
}

.rover-header-right-mobile{
  float:right;
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: black;
  width: 40px;
}

.container-upper-mobile{
  text-align: center;
  margin-top: 20px;
}

.rover-button rover-cta-mobile{
  background-color: #14a96d;
}

/* Use a media query to add a break point at 800px: */
@media screen and (min-width: 800px) {
  .rover-mobile-hero-container{
    display: none;
  }

  .rover-header-right-mobile{
    display: none;}
  

  .container-upper-mobile{
    display: none;
  }


  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }}



  @media screen and (max-width: 800px) {

    .rover-hero-container{
      display: none;
    }
    .left, .main, .right {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }}