/*
 * Lay this page out - make it responsive, use grid, flex, position and media queries where needed.
 *
 * Colors-
 * Green: #14a96d
 * White: #fff
 * Light gray: #f4f5f6
 * Border gray: #cfd7de
 * Dark text: #1b1f23
 * Lighter text: #66727c
 * Blue for links: #06748a
 * Blue for hovered links: #033641
 */

/* Globals */



body {
  font-family: 'Cabin', sans-serif;
  
}


#brand{
  width: 90px;
}

.rover-header-container{
    list-style-type: none;
    margin: 0;
    padding-right:30px ;
    overflow: hidden;
    background-color: white; 
    height: 50px   ;
  
  }
  
li {
    float: left;
  }
  
li a {
    display: block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }


.rover-hero-container{
    background-image: url("../img/hero.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    height: 750px;
  }

  .container-upper{
    float: left;
    padding-left: 20px;
    padding-top: 120px;
    font-family: sans-serif;
    color: rgba(73, 72, 72, 0.87);
    
  }

  .container-upper h3{
    margin-left: 120px;
  }

  .container-upper h1{
    margin-left: 118px ;
  }
  
.rover-facts-container img{
  width: 90px;
 
}

.rover-facts-container{
  color: black;
  margin-left: 90px;
}

.rover-facts-container h3{
  color: black;
  margin-left: 120px;
  margin-top:-60px;
}

.rover-facts-container p{
  color:  #66727c;
  margin-left: 120px;
  margin-top: -10px;
}

.rover-middle-section h2{
  text-align: center;
  color: black;
  padding-top: 50px;
  padding-bottom: 20px;
}

.rover-cta-box{
  padding-bottom: 100px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.rover-two-boxes-container{
  display: flex;
  height: 500px;
  justify-content: space-around;
}
.rover-cta-container{
  margin-left: 40px;
  color: black;
  width: 500px;
  border-style: groove;
  border-color: #cfd7de;
  justify-content: flex-end;
}

.rover-cta-header{
  background-color: #f4f5f6;
  position: relative;
  padding-bottom: 20px;
}

.rover-cta a{
  text-decoration: none;
  color: white;
}

.rover-cta-header img{
  width: 30px;
  margin-top: 20px;
  margin-left: 50px;
} 

.rover-cta-header p{
position: absolute;
left: 90px;
top: 15px;
} 

.rover-facts{
  list-style: none;
  height: 120px;
}

.rover-facts li{
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 17px;
  
}

.rover-facts li::before{
content: '✓';
margin-left: -30px;
padding-right:10px ;
color: #14a96d ;
  
}

.rover-cta{
  margin-bottom: 10px;
  margin-left: 30px;
  background-color: #14a96d ;
  height: 30px;
  width: 450px;
  border-radius: 5%;
  text-align: center;
  color: white;
  padding-top: 7px;
  font-size: 15px;

}

.rover-protections{
  width: 500px;
  text-align: center;
  color: #66727c;
  

}

.rover-protections a{
  color: #06748a;
  text-decoration: none;
  letter-spacing: 1px;
  
}

.rover-action-shot{
  background-image: url("../img/banner_below.jpg");
  height: 600px;
  margin: 200px 50px;
  background-size: cover;

}

.rover-action-quote-container{
  width: 500px;
  height: 450px;
  background-color: white;
  color: black;
  position: absolute;
  border-style: groove;
  border-color:#cfd7de;
  left: 200px;
  top: 1550px;
}

.rover-action-quote-container p{
word-spacing: 2px;
margin: 30px 20px;
}

.rover-quote{
  font-size: 40px;
  font-weight: bold;
}

.rover-action-quote-container p:last-child{
 color: darkslategray;
 margin-top: 150px;
}

.rover-action-quote-container a{
  text-decoration: none;
  color: #06748a;
 }

.rover-123-container-title{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 70px;
  padding-top: 30px;
}

.rover-123-item-container{
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 10px 10px 10px 10px;
  text-align: center;
}

.rover-123-item img{
  width: 100px;
}

.rover-123-item p{
  color: gray;
  padding-bottom: 20px;
}
.rover-mobile-hero-container{
  padding: 20px 20px;
}
.rover-mobile-hero-container img{
  display: inline;
  width: 300px;
  padding-right: 40px;
  padding-left: 10px;
}

.rover-header-right-mobile{
  float:right;
  position: absolute;
  top: 10px;
  right: 20px;
  
  width: 40px;
}

.container-upper-mobile{
  text-align: center;
  margin-top: 20px;
}

.rover-button rover-cta-mobile{
  background-color: #14a96d;
}

.rover-cta-box-mobile{
  margin-top: 200px;
  margin-left: 0%;
  margin-right: 0%;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  align-items: center;
  
}

.rover-cta-container-mobile{
  margin: 20px 40px;
  color: black;
  width: 700px;
  border-style: groove;
  border-color: #cfd7de;
}

.rover-cta-header-mobile{
  background-color: #f4f5f6;
  position: relative;
  padding-bottom: 20px;
}

.rover-cta-mobile a{
  text-decoration: none;
  color: white;


}

.rover-cta-header-mobile img{
  width: 30px;
  margin-top: 20px;
  margin-left: 50px;
} 

.rover-cta-header-mobile p{
position: absolute;
left: 90px;
top: 15px;
} 

.rover-facts-mobile{
  list-style: none;
  height: 120px;
}

.rover-facts-mobile li{
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 17px;
  
}

.rover-facts-mobile li::before{
content: '✓';
margin-left: -30px;
padding-right:10px ;
color: #14a96d ;
  
}

.rover-cta-mobile{
  margin-bottom: 10px;
  margin-left: 20px;
  background-color: #14a96d ;
  height: 30px;
  width: 650px;
  border-radius: 3%;
  color: white;
  padding-top: 7px;
  font-size: 15px;
  text-align: center;

}

.rover-protections-mobile{
  width: 500px;
  text-align: center;
  color: #66727c;
  

}

.rover-protections-mobile a{
  color: #06748a;
  text-decoration: none;
  letter-spacing: 1px;
  
}

.rover-action-shot-mobile{
  height: 600px;
  margin: 200px 10px;

}
.rover-action-bannerbelow-mobile{
  background-image: url("../img/banner_below.jpg");
  height: 500px;
  width: 758px;
  margin: 0%;
  background-position: 1450px 650px;
  margin-left: -10px;
}


.rover-action-quote-container-mobile{
  width: 700px;
  margin: 50px 0px;
  height: 250px;
  background-color: white;
  color: black;
  border-top-style: groove;
  border-bottom-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  border-color:#cfd7de;
}

.rover-action-quote-container-mobile p{
word-spacing: 2px;
margin: 30px 20px;
}

.rover-quote-mobile{
  font-size: 40px;
  font-weight: bold;
}

.rover-action-quote-container-mobile p:last-child{
 color: darkslategray;
 
}

.rover-action-quote-container-mobile a{
  text-decoration: none;
  color: #06748a;
 }

 
.rover-123-container-title-mobile{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 70px;
  padding-top: 30px;
  
}

.rover-123-item-container-mobile{
  display: flex;
  justify-content:space-between;
  flex-direction: column;
  padding: 10px 10px 10px 10px;
}

.rover-123-item-mobile{
  display: flex;
  flex-direction: row;
}

.rover-123-item-words-mobile{
 display: flex;
 flex-direction: column;
}


.rover-123-item-mobile img{
  width: 100px;
  padding-right: 40px;
  padding-bottom: 30px;
  margin-left: 10px;
}

.rover-123-item-words-mobile p{
  color: gray;
  padding-bottom: 20px;

}

#mobile_menu{
  background-color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  display: none;

}
.show{
  /*!important overrides all*/
  display: block !important;
  animation: showmenu .35s ease-in-out;
}

.hide{
  /*!important overrides all*/
  /*display: block !important;*/
  animation: hidemenu .35s ease-in-out;
}
.nflex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.nflex a{
  color: white
}


/* Use a media query to add a break point at 800px: */
@media screen and (min-width: 800px) {
  .rover-mobile-hero-container{
    display: none;
  }

  .rover-header-right-mobile{
    display: none;}
  

  .container-upper-mobile{
    display: none;
  }
  .rover-cta-box-mobile{
    display: none;
  }
  .rover-action-shot-mobile{
    display: none;
  }
  .rover-123-container-mobile{
    display: none;
  }

  


  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }}

  @media screen and (max-width: 800px) {

    .rover-hero-container{
      display: none;
    }

    .rover-cta-box{
      display: none;
    }

    .rover-action-shot{
      display: none;
    }
    .rover-123-container{
      display: none;
    }

    .rover-header-left{
      display: none;
    }

    #signup, #signin, #help{
      display: none;
    }

    .left, .main, .right {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }}

  @keyframes showmenu {
      0%{
          transform: translateX(100%);
      }
  
      100%{
          transform: translateX(0%);
      }
  }
  
  /*rotate(90deg)  */
  @keyframes hidemenu {
      0%{
          transform: translateX(0%);
      }
  
      100%{
          transform: translateX(100%);
      }
  }
 
 
